/* 
DarkInk: 1d1d1d
Ink: 3E4043
LialicBG: F6F9FC
LightGray: dadadd
*/

.highlight {
    background-color: #F6F9FC;
    padding: 1rem;
    border-radius: 0.5rem;
}

.proj-head {
    margin: 11rem 0rem;
}


/*  */

.moreCard {
    background-color: #fff;
    border-radius: 1rem;
    border: 1px solid #F6F9FC;
    padding: 2rem;
    max-width: 23rem;
}

.cardHover:hover {
    transform: scale(1.05);
    transition: all 0.4s;
    box-shadow: 1rem 2rem 3rem #dadadd;
    z-index: 2;
    position: relative;
}


/*  */

#myCarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
    opacity: 0.8;
}

#myCarousel .carousel-indicators>li {
    text-indent: initial;
    color: #dadadd;
    font-size: 1rem;
}

#myCarousel .carousel-indicators>li.active {
    opacity: 1;
    color: #3E4043;
}


/*  */

#errorMessage,
#disableMessage {
    color: red;
}

input {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #dadadd;
    background-color: #F6F9FC;
    transition: 0.6s;
}

#password {
    width: 75%;
}

#submit {
    border: none;
    color: #1d1d1d;
    padding: 0.5rem 2rem;
}

#submit:hover {
    background-color: #3E4043;
    color: #FFF;
}

input:disabled {
    opacity: 0.2;
}