.box {
background-color: #F9F9FB ;
padding: 2rem 6rem;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

/*  */
.breadcrumbs a {
    color: #abaebe;
    padding-right: 0.5rem;
    text-decoration: none;
  }

  

.more-card {
    padding: 2rem;
    position: relative;
  }
  
  /*  */

#myCarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
    opacity:0.8;
}

#myCarousel .carousel-indicators > li {
    text-indent: initial;
    color: #3E4043;
    font-size: 1rem;
}

#myCarousel .carousel-indicators > li.active {
    opacity: 1;
    color: #0A0A0A
}