/* SOCIAL LINKS */
.social {
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

.social li {
  display: inline-block;
  padding: 10px 10px;

}

/* ABOUT ME */


#about {
  margin-top: 150px;
}

/* MORE-ABOUT */

#portrait {
  border-radius: 5px;
}


/* PROJECTS CARDS */
#projects {
  margin-top: 40px;
}

.card {
  cursor: default;
  margin: 30px;
  position: relative;
  max-height: 520px;
  background-color: #fff;
  overflow: hidden;
  transition: all 200ms ease-out;
  padding: 0px;
}

.card .info {
  height: 30%;
  padding: 20px;
}

.tags span {
  background: #eee;
  color: #999;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 2px;
}

.card:hover {
  transform: scale(1.05);
  transition: all 200ms ease-out;
  box-shadow: 0 20px 20px 5px rgba(0, 0, 0, 0.05);
}

.card:hover .overlay {
  cursor: pointer;
  bottom: -45px;
  right: -40px;
  transition: all 300ms ease-out;
}

.card .overlay {
  background-color: #333;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  position: absolute;
  bottom: -190px;
  right: -190px;
  transition: all 300ms ease-in;
}

/*  */
@media only screen and (max-width: 540px) {
  .cards-list {
    flex-direction: column;
    padding: 35px;
  }
}

@media (min-width: 1360px) {
  .container {
    padding: 0px 150px;
  }
}
