/* COLOR PALLET:
#333 - Dark gray (H1, p)
#888 - Light gray (H2)
#555 - Med gray (H3)

#ACA1B2 - Pastel pink (highlight, hover) 
*/

html {
  scroll-behavior: smooth;
}

/* TEXT */
body p, li {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

h1 {
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

/* SPACING */
.space {
  padding-top: 150px;
}

.center {
  text-align: center;
}


/* NAVBAR */
#mainNavbar a {
  margin-top: 5px;
  padding: 0px 10px;
  color: #888;
}

#mainNavbar a:hover {
  color: #000;
  transition: 800ms;
}

.navbar.scrolled {
  background: #fff;
  opacity: 0.98;
  transition: background 800ms;
  box-shadow: 0 0px 20px 1px rgba(0, 0, 0, 0.05);
}

/* FOOTER */
.footer {
  font-size: 12px;
  text-align: center;
}

.footer hr {
  border: 0.25px solid #888;
  opacity: 0.3;
}

/* LINKS, HIGHLIGHT ANIMATION, HOVER */
a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.highlight {
  display: inline-block;
  color: #888;
  transition: color 250ms, text-shadow 250ms;
  text-decoration: none;
  position: relative;
  z-index: 0;
}

.highlight::after {
  position: absolute;
  z-index: -1;
  bottom: -1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  content: '';
  height: 1px;
  background-color: rgba(0, 0, 0, 0.13);
  transition: all 250ms;
  text-decoration: none;
}

.highlight:hover {
  color: #000;
}

.highlight:hover::after {
  height: 60%;
  width: 100%;
}

/* IMAGES, ICONS */
.shadow {
  box-shadow: 0 10px 10px 3px rgba(0, 0, 0, 0.05);
}

.icon {
  color: #888;
  font-size: 18px;
}

.icon:hover {
  color: #000;
  transition: 500ms;
}

/* ANIMATIONS */
.enlarge:hover {
    transform: scale(1.3);
    transition: all 200ms ease-out;
    box-shadow: 0 20px 20px 5px rgba(0, 0, 0, 0.05);
  }

/* FADE-IN ANIMATION */
.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*  */
@media only screen and (max-width: 540px) {
  img {
    flex-direction: column;
    padding: 35px;
  }
}