/* COLOR PALLET:
#36255f - dark purple (h1)
#6571A6 - blue (h2, highlight, hover)
#555 - gray (h3, body)
#ACA1B2
*/

html {
  scroll-behavior: smooth;
}

/* TEXT */
body p {
  font-family: 'Red Hat Text', sans-serif;
  color: #555;
}

h1 {
  color: #333;
  font-size: 70px;
  font-weight: bold;
  font-family: 'Ramabhadra', sans-serif;
}

h2 {
  color: #888;
  font-family: 'Red Hat Text', sans-serif;
}

h3 {
  color: #555;
}

/* LOGO, NAVBAR, FOOTER */
.logo {
  width: 50px;
  display: block;
}

#mainNavbar .nav-link {
  padding: 0px 30px;
  color: #555;
}

#mainNavbar .nav-link:hover {
  color: #ACA1B2;
  opacity: 0.5;
  transition: 500ms;
}

.navbar.scrolled {
  background: #fff;
  opacity: 0.98;
  transition: background 800ms;
  box-shadow: 0 0px 20px 1px rgba(0, 0, 0, 0.05);
}

.Footer {
  font-size: 12px;
  text-align: center;
}

.Footer hr {
  border: 0.25px solid #ACA1B2;
  opacity: 0.3;
}

/* LINKS, HIGHLIGHT ANIMATION */
a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.highlight {
  display: inline-block;
  color: #ACA1B2;
  transition: color 250ms, text-shadow 250ms;
  text-decoration: none;
  position: relative;
  z-index: 0;
}

.highlight::after {
  position: absolute;
  z-index: -1;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  content: '';
  width: 110%;
  height: 3px;
  background-color: #ACA1B2;
  transition: all 250ms;
  text-decoration: none;
}

.highlight:hover {
  color: #fff;
}

.highlight:hover::after {
  height: 115%;
  width: 105%;
}

/* SPACING */
.space {
  padding-top: 150px;
}

/* IMAGES, ICONS */
.shadow {
  box-shadow: 0 20px 20px 5px rgba(0, 0, 0, 0.05);
}

.center {
  display: block;
  margin: 0 auto;
}

.icon {
  font-size: 25px;
  color: #333;
}

.icon:hover {
  color: #ACA1B2;
  transition: 500ms;
}

/* ANIMATIONS */
.tilt:hover {
  display: inline-block;
  transform:  rotateY(-20deg);
  -webkit-transform: rotateZ(-20deg);
  -moz-transform: rotateZ(-20deg);
  -ms-transform: rotateZ(-20ddeg);
  -o-transform: rotateZ(-20deg);
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

/* FADE-IN ANIMATION */
.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}