body {
    font-family: "Montserrat", sans-serif;
    color: rgb(85, 85, 85);
}
 
.logo {
    width: 30px;
    margin-bottom: 10px;
}
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

.Footer {
    font-size: 10px;
}

a {
  text-decoration: none;
}