body {
    font-family: "Montserrat", sans-serif;
    color: rgb(85, 85, 85);
}
 
.logo {
    width: 30px;
}
#mainNavbar {
    font-weight: 100; 
}

#mainNavbar .nav-link {
    color: gray;
    padding: -5px 20px;
}

#mainNavbar .nav-link:hover {
    opacity: 0.7;
    transition: 500ms;
    color: #BAA6CC;
}

.navbar.scrolled {
    background: rgb(255, 255, 255);
    opacity: 0.85;
    transition: background 500ms;
    box-shadow: 0px 5px 20px -6px rgb(100, 100, 100);
}

.intro-content {
    margin-top: 120px;
    margin-bottom: 150px;
}

#portrait {
    margin-top: 20px;
    box-shadow: 10px 10px 0px rgb(158, 146, 177);
}

#portrait:hover {
    box-shadow: 13px 13px 0px rgb(61, 41, 94);
    transition: 500ms;
}

h1 {
    color: #BAA6CC;
    font-size: 70px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
}

/* skills */

.underline a {
    position: relative;
    color: rgb(152, 127, 173);
    text-decoration: none;
  }
  
.underline a:hover {
    color: rgb(152, 127, 173);
    text-decoration: none;
  }

.underline a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(152, 127, 173);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

.underline a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#skills {
    background-color: rgb(236, 228, 245);
    padding: 80px 40px; 
}

.column {
    margin-top: 50px;
    margin: auto;
}

.skills-card {
    background-color: #FFF;
    padding: 10px 20px;
    height: 400px;
}

.skills-header {
    color: rgb(236, 228, 245);
    margin-bottom: -10px;
}

.skills-h2 {
    color: rgb(236, 228, 245);
    text-transform: uppercase;
    font-weight: bold;
}

#skills .skills-card:hover .skills-h2 { 
    color:#BAA6CC;
    transition: 500ms;
}

hr {
    border: 1px solid rgb(236, 228, 245);
    margin-top: 0px;
}

#skills .skills-card:hover .skills-header { 
    color:#BAA6CC;
    transition: 500ms;
}

#skills .skills-card:hover { 
   box-shadow: 10px 10px 0px #BAA6CC;
    transition: 500ms;
}

#technical {
    margin-top: 100px; 
}

#technical img {
    margin-left: 50px;
}

h4 {
    text-align: center;
    padding: 10px;
}

/* projects */
#projects {
    background-color: rgb(255, 255, 255);
    margin: 100px;
}

.proj-card {
    margin: 120px 0px;
}

.text-block {
    position: absolute;
    bottom: 20px;
    left: 500px;
    background-color: rgb(255, 255, 255);
    color: #555;
    padding-left: 20px;
    padding-right: 20px;
    width: 400px;
    border: 1px solid rgb(206, 206, 206);
}

.proj-h2 {
    color: rgb(51, 51, 51);
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    margin: 30px;
}

.arrow {
    position: absolute;
    padding: 3px; /* Arrow size */
    box-shadow: 1px -1px 0 1px rgb(61, 61, 61);
    -webkit-box-shadow: 2px -2px rgb(61, 61, 61);
    border: solid transparent;
    border-width: 0 0 0.3rem 0.3rem;
    transition: 0.2s;
    bottom: 22px;
  }
  
.more .arrow:hover {
    box-shadow: 2px -2px 0 2px rgb(206, 206, 206);
    -webkit-box-shadow: 4px -4px rgb(206, 206, 206);
}

.arrow-right { 
      transform:rotate(45deg) 
}

.more {
    font-weight: bold;
    font-size: 110%;
}

.more:hover {
    color: rgb(206, 206, 206);
    transition: 0.2s;
}
   
#projects .text-block:hover {
    box-shadow: 8px 8px 0px rgb(61, 61, 61); 
    border: 1px solid rgb(206, 206, 206);
    transition: 400ms;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

.Footer {
    font-size: 10px;
}