body {
    font-family: "Source Sans Pro", sans-serif;
    color: rgb(85, 85, 85);
    /* background-image: url("assets/background.jpg"); */
}

#mainNavbar {
    font-weight: 100; 
}

#mainNavbar .nav-link {
    color: gray;
    padding: 0px 30px;
}

#mainNavbar .nav-link:hover {
    opacity: 0.4;
    transition: 500ms;
    color: #BAA6CC;
}

.navbar.scrolled {
    background: rgb(255, 255, 255);
    opacity: 0.85;
    transition: background 500ms;
    box-shadow: 0px 5px 20px -6px rgb(100, 100, 100);
}

.intro-content {
    margin-top: 70px;
    margin-bottom: 100px;
}

#portrait {
    box-shadow: 10px 10px 0px rgb(158, 146, 177);
}

#portrait:hover {
    box-shadow: 10px 10px 0px rgb(61, 41, 94);
    transition: 1000ms;
}

h1 {
    color: #BAA6CC;
    font-size: 60px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
}

#projects {
    background-color: rgb(236, 228, 245);
    padding: 15px 40px 50px;
}

#projects a {
    color:rgb(236, 228, 245);
    font-size: 25px;
    position: absolute;
    bottom: 0; 
    padding: 2px 10px;
    border: 3px solid rgb(236, 228, 245);
    margin-bottom: 30px;
}

#projects a:hover {
    margin:  0px 12px;
    color:#BAA6CC;
    transition: 500ms;
    border: 3px solid #BAA6CC;
    margin-bottom: 30px;
}

.proj-card {
    background-color: #FFF;
    padding: 10px 20px;
    height: 350px;
}

/* .proj-card:hover {
    background-color: #B9A6CC;
    transition: 1000ms ease-in-out;
} */

.proj-header {
    color: rgb(236, 228, 245);
}

.thumbnail {
    width: 20px;
}

.logo {
    width: 40px;
}

#moreProjs:hover {
    opacity: 0.4;
    transition: 500ms;
}
