/* Side navbar */
.sidenav {
    height: 100%; 
    width: 18%; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #252525; 
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 15px;
    color: #acacac;
    display: block;
    font-family: ;
  }
  
  .sidenav ul {
    list-style: none;
  }
  
  .sidenav a:hover {
    color: #FFF;
  }
  
  .sidenav li a {
    color: #b3b3b3;
    font-size: 12px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
   
  /* Content */
  .content {
    margin-left: 20%;
    padding: 0px 30px;
    font-size: 14px;
  }
  