
.proj-header {
    margin: 140px 0px 100px 140px;
}

#graphicsIsotope img {
  box-shadow: 0 10px 10px 3px rgba(0, 0, 0, 0.05);
}

#graphicsIsotope {
  margin: 100px;
}

.proj-header h1 {
    font-size: 40px;
}

h2 {
    color: #888;
    font-size: 40px;
}


img {
    z-index: 2;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.enlarge:hover {
    transition:transform 0.25s ease;
    -webkit-transform:scale(1.5); 
    transform:scale(1.5);
    box-shadow: 0 10px 10px 3px rgba(0, 0, 0, 0.05);
    position: absolute;
    z-index: 1;
}

.stats {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    }

.stats p {
    font-size: 120%;
    text-align: center;
    padding: 10px 50px;
}

.stats:before, 
.stats:after, 
.stats>:last-child:before, 
.stats>:last-child:after {
    position: absolute;
    width: 60px; 
    height: 50px;
    border-color: #d1d1d1; 
    border-style: solid;
    content: ' ';
}

.stats:before {
    top: 10px;
    left: 10px;
    border-width: 8px 0 0 8px
}

.stats:after {
    top: 10px;
    right: 10px;
    border-width: 8px 8px 0 0
}

.stats>:last-child:before {
    bottom: 10px;
    right: 10px;     
    border-width: 0 8px 8px 0
}

.stats>:last-child:after {
    bottom: 10px;
    left: 10px;
    border-width: 0 0 8px 8px
}


.more {
    font-size: 180%;
    opacity: 0.6;
}

.more:hover {
    font-size: 180%;
    opacity: 1;
    transition: 500ms ease-in-out;
}

/*  */
@media (min-width: 1300px) {
    .description {
        padding: 50px 180px;
    }
  }