.proj-header {
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 40px;
}

.description {
    padding: 100px;
}

.description img {
  height: 400px;
}

#graphicsIsotope img {
  box-shadow: 0 10px 10px 3px rgba(0, 0, 0, 0.05);
}

#graphicsIsotope {
  margin: 100px;
}