h2 {
  font-size: 38px;
  font-weight: bold;
  padding-top: 30px;
}

button {
  background-color: #242424;
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

button a {
  color: #acacac;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #BAA6CC;
}

a:hover {
  text-decoration: none;
  color: #b3b3b3;
}

button:hover {
  color: #242424;
  background-color: #e4e4e4;
  transition: 0.5s;
  text-decoration: none;
}

.gif {
  padding: 25px 0px 35px 0px;
}

section {
  padding-top: 100px;
}